<html>
  <head>
    <title>Smart Home Alarms</title>

    <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css'>
    <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='/assets/css/app.css'>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  </head>
  <body>
    <div class='container-fluid section-header'>
      <div class='container'>
        <div class='col-md-4'>
          <img src='/assets/img/logo.png' height='100px'>
        </div>
        <div class='col-md-4'>

        </div>
        <div class='col-md-4'>

        </div>
      </div>
    </div>
    <nav class='navbar navbar-inverse'>
      <div class='container'>
        <div class='col-md-6'>
          <ul class='nav navbar-nav'>
            <li>
              <a href='/'>
                Home
              </a>
            </li>
            <li>
              <a href='/'>
                About
              </a>
            </li>
            <li>
              <a href='/'>
                Gallery
              </a>
            </li>
            <li>
              <a href='/'>
                Contact
              </a>
            </li>
          </ul>
        </div>
        <div class='col-md-6'>
          <ul class='nav navbar-nav pull-right'>
            <li>
              <a>
                <i class='icon-shopping-cart'></i>
                Basket (0)
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
