<html>
  <head>
    <title>Smart Home Alarms</title>

    <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css'>
    <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='/assets/css/app.css'>
  </head>
  <body>
    <div class='container-fluid section-header'>
      <div class='container'>
        <div class='col-md-4'>
          <img src='/assets/img/logo.png' height='100px'>
        </div>
        <div class='col-md-4'>

        </div>
        <div class='col-md-4'>

        </div>
      </div>
    </div>
    <nav class='navbar navbar-inverse'>

    </nav>
